{% extends "pizzas/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">View pizzas here.</h1>

        <p class="lead">Make your own pizza, and add toppings to your pizzas.
            You can also view pizzas already made and write comments about them.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'pizzas:pizzas' %}"
            role="button">Pizzas &raquo;</a>   
    </div>

    <p>
        <img src="https://www.greenwichpizzeria.com/images/slide-1.jpg"
        alt="Pizza">
    </p>
{% endblock page_header %}
